:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

main {
  text-align: center;
  margin: 0 auto;
  min-height: 35rem;
  max-height: 35rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: #3FAC88;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.2rem;
  margin: 1rem auto;
}

h6 {
  font-size: 0.5rem;
  color: #333333;
  margin: 0.5rem;
}

a {
  font-size: 0.5rem;
  margin: 0.5rem;
  color: #cccccc;
  text-decoration: none;
}

p {
  font-weight: 500;
}

button {
  height: 2.75rem;
  border-radius: 0.5rem;
  font-weight: 600;
  width: 85%;
  color: white;
  background: linear-gradient(180deg, #3FAC88 4.85%, #00875A 115%);
  border: 1.5px solid #187759;
  margin: 2rem 0;
}

#success-top {
  max-width: 21.5rem;
  min-width: 21.5rem;
}

#success-icon {
  height: 7.5rem;
  width: 7.5rem;
  margin: 1rem 0;
}
